
.button:active,
.button:visited,
.button:hover {
  color: gray;
}

.labels {
  margin-bottom: 20px;
}

.labels p {
  margin-bottom: 0px;
}

.button {
  border-radius: 5px;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
}

.button:hover {
  cursor: pointer;
}

.label {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.label-type, .label-language {
  display: inline-block;
}

.active {
  background-color: lightgray;
}

.btn-wrapper-lang,
.btn-wrapper-label {
  background-color: white;
}
