
.button:active,
.button:visited,
.button:hover {
  color: gray;
}

.labels {
  margin-bottom: 20px;
}

.labels p {
  margin-bottom: 0px;
}

.button {
  border-radius: 5px;
  padding: 10px;
}

.button:hover {
  cursor: pointer;
}

.label {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.label-type {
  display: inline-block;
}
