.navbar {
  background-color: inherit;
  padding-top: 10px;
  margin-top: 40px;
}

.navbar h2 {
  font-weight: normal;
  margin-bottom: 10px;
}

.navbar p {
  font-style: italic;
  margin-bottom: 32px;
  margin-top: 8px;
}

@media screen and (max-width: 1039px) {

  .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }
  
}
