.item-list {
}

.item {
  text-align: left;
  border: 2px solid gray;
  list-style-type: none;
  max-width: 500px;
  word-wrap: break-word;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  background-color: floralwhite;
  margin: 10px;
}
