.showing-language {
  margin-bottom: 15px;
}

.item {
  text-align: left;
  max-width: 500px;
  width: 50%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  margin: 10px;
  border-radius: 7px;
  box-shadow: 1px 1px 1px lightgray;
}

.item-list {
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-content {
  padding: 1rem 1rem;
  padding-bottom: 0px;
  flex: 1;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
  border-top: 1px solid lightgray;
  margin-top: 25px;
}

.card-link {
  flex: 1;
  text-align: center;
  padding: 16px;
}

.card-link:hover {
  background-color: lightgray;
}

.card-link:first-child {
  border-right: 1px solid lightgray;
}

.label-type {
  padding: 5px;
  margin: 10px 5px;
  margin-left: 0px;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: lightgray;
}

.title {
  font-size: 1.4rem;
  margin-top: 0px;
}


.card-link {
  text-decoration: none;
  color: blue;
}

.loading {
  padding-bottom: 40px;
}

/*
FORM AND SEARCH
*/

.search-container {
  display: flex;
  align-items: flex-end;
}

.search-container p {
  margin-bottom: 0px;
}

.filter-search {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.filter-search p {
  margin-bottom: 0px;
}

form {
  display: flex;
  align-items: flex-end;
}

form select {
  font-family: "Roboto Mono", monospace;
  margin-left: 5px;
  border: 1px solid black;
}

.no-results {
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.hidden-results-header {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}

#no-results-hidden {
  display: none;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.rate-limit-link {
  color: blue;
}

@media screen and (min-width: 601px) and (max-width: 1039px) {
  .item {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .item-list {
    margin-left: 35px;
    margin-right: 35px;
  }

  .showing-language {
    padding-left: 10px;
    padding-right: 10px;
  }

  .filter-text {
    width: 120px;
  }

  .card {
    width: 100%;
  }

  .title {
    font-size: 1.1rem;
  }

  .filter-search {
    margin-left: 50px;
    margin-right: 50px;
  }

  #no-results-hidden p {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .search-container {
    display: block;
  }
}
